<nav class="top-nav">
    <ul>
        <% Naturesoft::Menus::Menu.where(parent_id: nil).each do |menu| %>
            <li>
                <% if menu.children.empty? %>
                    <a href="<%= menu.path %>">
                        <span><%= menu.name %></span>
                    </a>
                <% else %>
                    <a href="<%= menu.path %>">
                        <span><%= menu.name %></span>
                    </a>
                    <ul>
                        <% menu.children.each do |child| %>
                            <li>
                                <a href="<%= child.path %>">
                                    <span><%= child.name %></span>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </li>
        <% end %>
    </ul>
</nav>

