<nav class="top-nav">
    <ul>
        <% Naturesoft::Menus::Menu.where(parent_id: nil).where(status: "active").order(custom_order: "asc").each do |menu| %>
            <li class="<%= "selected" if menu.id == params[:menu_id] or menu.children.map(&:id).include?(params[:menu_id]) %>">
                <% if menu.children.where(status: "active").empty? %>
                    <a href="<%= menu.url %>">
                        <span><%= menu.name %></span>
                    </a>
                <% else %>
                    <a href="#" style="cursor: default">
                        <span><%= menu.name %></span>
                    </a>
                    <ul>
                        <% menu.children.where(status: "active").order(custom_order: "asc").each do |child| %>
                            <li class="<%= "selected" if child.id == params[:menu_id] %>">
                                <a href="<%= child.url %>">
                                    <span><%= child.name %></span>
                                </a>
                            </li>
                        <% end %>
                    </ul>
                <% end %>
            </li>
        <% end %>
    </ul>
</nav>



