<% content_for :head_title, !@article.nil? ? @article.title : @category.name %>

<% content_for :page_title do %>
    <%= !@article.nil? ? @article.title : @category.name %>
<% end %>
<div class="breadcrumbs">
	<div class="container">

		<%= link_to "Home" %><i class="fa fa-long-arrow-right main-color"></i><span>About Us</span><i class="fa fa-long-arrow-right main-color"></i><span>Who We Are</span>

	</div>
</div>

<div class="container">
	<div class="row row-eq-height">
		<div class="col-md-9 md-padding main-content">

			<div class="blog-single">
				
				<div class="post-item">
					
					<article class="post-content" style="width: 100%;">
						<div class="text-center">
							<img style="max-width: 650px" src="<%= image_src(@article.image_url) %>" />
						</div>
						<br />
						<div class="text-justify">
							<%= !@article.nil? ? @article.content.html_safe : "Updating..." %>
						</div>
						
						<div class="post-tools">
							<div class="post-tags">
							</div>

							<div class="share-post">
								<div class="f-left m-t-2 custom-font font-15 main-color">Share This Post on : </div>
								<div class="f-right" id="share_btns" data-easyshare data-easyshare-url="">
									
									<button class="facebook" data-easyshare-button="facebook">
										<span class="fa fa-facebook"></span>
										<span class="share_num" data-easyshare-button-count="facebook"></span>
									</button>
									
									<button class="twitter" data-easyshare-button="twitter" data-easyshare-tweet-text="">
										<span class="fa fa-twitter"></span>
										<span class="share_num" data-easyshare-button-count="twitter"></span>
									</button>
									
									<button class="googleplus" data-easyshare-button="google">
										<span class="fa fa-google-plus"></span>
										<span class="share_num" data-easyshare-button-count="google"></span>
									</button>
									
									<button class="linkedin" data-easyshare-button="linkedin">
										  <span class="fa fa-linkedin"></span>
										  <span class="share_num" data-easyshare-button-count="linkedin"></span>
									</button>
									
									<button class="pinterest" data-easyshare-button="pinterest">
										  <span class="fa fa-pinterest-p"></span>
										  <span class="share_num" data-easyshare-button-count="pinterest"></span>
									</button>
									
									<button class="xing" data-easyshare-button="xing">
										  <span class="fa fa-xing"></span>
										  <span class="share_num" data-easyshare-button-count="xing"></span>
									</button>

									<button class="total-shrs" data-easyshare-button="total">
										<span data-easyshare-total-count>0</span>
										<span class="share_num">Shares</span>
									</button>
									
									<div data-easyshare-loader>Loading...</div>
								</div>
							</div>
						</div>
						
					</article>
				</div><!-- .post-item end -->
			</div>
		</div>
		
		<div class="col-md-3 md-padding sidebar">
			<div class="sidebar-widgets">
				<ul>
					<li class="widget widget-categories">
						<%= position("globalnaturesoft_com::right-sidebar") %>
					</li>
				</ul>
			</div>
			
		</div>
	</div>
</div>